@switch (isNextSequence) {
  @case (0) {
    <div data-aos="zoom-in-up" class="flex flex-col items-center">
      <h1 class="text-5xl font-bold text-white mb-4">
        Halo Diajeng Cantik <span class="text-yellow-100">!</span>
      </h1>
      <p class="text-green-200 mb-6">Utututu~~</p>

      <button
        class="flex px-6 py-2 rounded-full border border-red-300 text-red-300 hover:bg-red-500 hover:text-white hover:border-white/50 transition justify-between items-center shake-hover"
        (click)="nextSequence()"
      >
        <span class="font-semibold gap-6">
          APA SEH MAS?!
          <fa-icon icon="arrow-right"></fa-icon>
        </span>
      </button>
    </div>
  }

  @case (1) {
    <div>
      <!-- Atas kiri -->
      <div
        data-aos="zoom-in"
        class="absolute top-20 left-20 w-80 h-80 bg-[url('/assets/wwm.webp')] bg-contain bg-no-repeat rotate-16 wobble"
      ></div>

      <!-- Atas kanan -->
      <div
        data-aos="zoom-in"
        class="absolute top-10 right-10 w-80 h-80 bg-[url('/assets/minecraft.webp')] bg-contain bg-no-repeat rotate-6 wobble"
      ></div>

      <!-- Bawah kiri -->
      <div
        data-aos="zoom-in"
        class="absolute bottom-0 left-20 w-80 h-80 bg-[url('/assets/stardew.webp')] bg-contain bg-no-repeat rotate-12 wobble"
      ></div>

      <!-- Bawah kanan -->
      <div
        data-aos="zoom-in"
        class="absolute bottom-0 right-20 w-80 h-80 bg-[url('/assets/thesims4.webp')] bg-contain bg-no-repeat rotate-7 wobble"
      ></div>
    </div>

    <div class="flex flex-col items-center">
      <h1 data-aos="fade-down" class="text-4xl font-bold text-white mb-4">
        Mas mau ngajak main game diajeng <span class="text-yellow-100">......</span>
      </h1>
      <p data-aos="fade-down" class="text-green-200 mb-6">Mau ya diajeng ya > _ < .....</p>

      <div class="flex mt-4 gap-12">
        <button
          data-aos="fade-right"
          class="flex px-6 py-2 rounded-full border border-blue-300 text-blue-300 hover:bg-blue-500 hover:text-white hover:border-white/50 transition justify-between items-center hover-fancy"
        >
          <span class="font-semibold gap-6">
            MAU LAH!
            <fa-icon icon="heart"></fa-icon>
          </span>
        </button>

        <div class="relative flex">
          <button
            #gamawBtn
            data-aos="fade-left"
            class="flex px-6 py-2 rounded-full border border-red-300 text-red-300 hover:bg-red-500 hover:text-white hover:border-white/50 transition justify-between items-center"
            (mouseenter)="runAway(gamawBtn)"
            (click)="gamawClicked()"
          >
            <span class="font-semibold gap-6">
              GAMAW
              <fa-icon icon="xmark"></fa-icon>
            </span>
          </button>
        </div>
      </div>
    </div>
  }

  @default {
    <h1 class="text-2xl text-white">Belum ada sequence</h1>
  }

  <!-- <div
    data-aos="fade-up"
    class="rounded-3xl bg-white/10 backdrop-blur-xl border border-white/20 p-10 shadow-2xl"
  >
    <h2 class="text-3xl font-bold text-white mb-4">Glass Morphism</h2>
    <p class="text-gray-200 mb-6">Modern frosted glass effect</p>
    <button
      class="px-6 py-2 rounded-full border border-white/30 text-white hover:bg-white/20 transition"
    >
      UI Background
    </button>
  </div> -->
}

<p-toast></p-toast>
